body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #181818;
    color: #fff;
}

h2 {
    text-align: center;
    margin-top: 5dvh;
    margin-left: 5%;
    margin-right: 5%;
}